body{
    background:#f5f5f5;
    font-family:Arial;
}

h1{
    color:#111;
    font-weight:bold;
}

.producto{
    transition:0.3s;
    border:none;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}

.producto:hover{
    transform:scale(1.03);
}

.imagen-producto{
    height:500px;
    object-fit:cover;
}